__pycache__/
default/
work/
porno/
ultimate/
*/work/*
*.sh
./*.list
*.log
*.dat
big/
*backup*
temp/
youtube-ad-fingerprints.txt
backup*
*.bak
.gitignore.default
adblock/
blocklist/
chris-special/
disconnect/
getadblocksubs.*
ipasn/
krogza-ultimate/
privacy/
*.tar.gz
*.chris
*.url
domsort.py
*.cc
*.export
private/
bad*.sources
*.tmp
*.include
*.data
*.exclude
blocklistproject/dnsmasq-filter.conf
blocklistproject/knot-daf.conf
blocklistproject/unbound-filter.conf
blocklistproject/dnsmasq-regex-filter.conf
blocklistproject/db.black.top-n.rpz
bogons/adblock-ip.txt
deugniets/dnsmasq-filter.conf
deugniets/black.list
deugniets/knot-daf.conf
deugniets/unbound-filter.conf
deugniets/dnsmasq-regex-filter.conf
deugniets-high/dnsmasq-filter.conf
deugniets-high/black.list
deugniets-high/knot-daf.conf
deugniets-high/unbound-filter.conf
deugniets-high/dnsmasq-regex-filter.conf
deugniets-medium/unbound-filter.conf
dnsdist/knot-daf.conf
dnsdist/unbound-filter.conf
malicious-dom/unbound-filter.conf
malicious-ip/adblock-ip.txt
my-routedns/dnsmasq-filter.conf
my-routedns/black.list
my-routedns/knot-daf.conf
my-routedns/unbound-filter.conf
my-routedns/dnsmasq-regex-filter.conf
my-routedns/plain.black.hosts.list
tracker-radar/.git/objects/pack/pack-166ad0f5ec6b7998e3a41a344d8ab7f1e9c77d7e.pack
tracker-radar/.git/objects/pack/pack-45749959cc05d1af64c46b126cbe33e42087800c.pack
tracker-radar/.git/objects/pack/pack-dc4b14db6a3cef5d8a6f5425c28b5368fdb78198.pack
tracker-radar/.git/objects/pack/pack-f92d374e34f5898cecb18f2ced66d07476c044a6.pack
